# starting fresh

In [18]:
import pandas as pd
import geopandas as gpd

schools_nrw = pd.read_csv('/home/emily/thesis_BA/data/destinations/schuldaten.csv', sep=';', header=1)
school_type_key = pd.read_csv('/home/emily/thesis_BA/data/destinations/key_schulformschluessel.csv', sep=';', header=1)
school_type_key.head()

  Schluessel      Schulform  Unnamed: 2
0         02    Grundschule         NaN
1         04    Hauptschule         NaN
2         06    Volksschule         NaN
3         08   Förderschule         NaN
4         0A  Schulaufsicht         NaN

In [19]:
schools_nrw.head()

,Schulnummer,Schulform,Schulbezeichnung_1,Schulbezeichnung_2,Schulbezeichnung_3,Kurzbezeichnung,Bezirksregierung,PLZ,Ort,Strasse,...,Homepage,Rechtsform,Traegernummer,Gemeindeschluessel,Schulbetriebsschluessel,Schulbetriebsdatum,EPSG,UTMRechtswert,UTMHochwert,Unnamed: 24
0,100000,25,Studienkolleg des Ökumenischen,Studienwerks e.V. für ausländische,Studierende,"Bochum, WBK KOL Studienkolleg",9,44799,Bochum,Girondelle 80,...,https://www.studienkolleg-bochum.de,2,10100,5911000,6,01.01.1974,EPSG:25832,378180,5701853,NaN
1,100010,20,Gymnasium Claudia Agrippina Privat,schule als priv.Ersatzsch. d. Sek.I u.II,d. CAPS Privatschu gGmbH,"Köln, Gym Gymnasium Claudia Agrippina",3,50933,Köln,Stolberger Str. 112,...,http://www.claudia-agrippina-privatschule.de,2,83150,5315000,1,01.08.2016,EPSG:25832,352258,5645500,NaN
2,100011,15,Städt. Gesamtschule,Schule d. Sekundarstufe I u. II,NaN,"Haan, GE Walder Straße",1,42781,Haan,Walder Str. 15,...,http://www.gesamtschule-haan.de,1,11435,5158008,1,01.08.2017,EPSG:25832,361466,5673192,NaN
3,100012,02,Städt. Gemeinschaftsgrundschule,Am Friedenspark,- Primarstufe -,"Leverkusen, GG Am Friedenspark",3,51371,Leverkusen,Netzestr. 12,...,http://www.ggs-am-friedenspark.com,1,10080,5316000,1,01.08.2017,EPSG:25832,356570,5658484,NaN
4,100014,02,Kolibri-Schule,Städt. Gemeinschaftsgrundschule,NaN,"Herne, GG Kolibri-Schule",9,44625,Herne,Jean-Vogel-Str. 36,...,https://www.kolibri-schule-herne.de/,1,10327,5916000,1,01.08.2017,EPSG:25832,376821,5710073,NaN

In [26]:
merged = schools_nrw.merge(right=school_type_key, left_on='Schulform', right_on='Schluessel',)
merged

,Schulnummer,Schulform_x,Schulbezeichnung_1,Schulbezeichnung_2,Schulbezeichnung_3,Kurzbezeichnung,Bezirksregierung,PLZ,Ort,Strasse,...,Gemeindeschluessel,Schulbetriebsschluessel,Schulbetriebsdatum,EPSG,UTMRechtswert,UTMHochwert,Unnamed: 24,Schluessel,Schulform_y,Unnamed: 2
0,100000,25,Studienkolleg des Ökumenischen,Studienwerks e.V. für ausländische,Studierende,"Bochum, WBK KOL Studienkolleg",9,44799,Bochum,Girondelle 80,...,5911000,6,01.01.1974,EPSG:25832,378180,5701853,NaN,25,Weiterbildungskolleg,NaN
1,100058,25,Weiterbildungskolleg Münster,Abendrealschule und Abendgymnasium,NaN,"Münster, WBK RS, Gym Uppenkampstiege",5,48147,Münster,Uppenkampstiege 21,...,5515000,1,01.08.2018,EPSG:25832,405673,5759287,NaN,25,Weiterbildungskolleg,NaN
2,163820,25,Weiterbildungskolleg der Stadt Duisburg,Abendrealschule und Abendgymnasium,NaN,"Duisburg, WBK RS, Gym Carstanjenstraße",1,47057,Duisburg,Carstanjenstr. 10,...,5112000,1,01.08.1973,EPSG:25832,346164,5700149,NaN,25,Weiterbildungskolleg,NaN
3,163831,25,Weiterbildungskolleg der Stadt Essen,-Abendrealschule Eiberg-,NaN,"Essen, WBK RS Eiberg",1,45279,Essen,Sachsenring 301,...,5113000,1,01.08.1973,EPSG:25832,368557,5700486,NaN,25,Weiterbildungskolleg,NaN
4,163843,25,Weiterbildungskolleg der Stadt Krefeld,- Abendrealschule -,NaN,"Krefeld, WBK RS Danziger Platz",1,47809,Krefeld,Danziger Platz 1,...,5114000,1,01.08.1973,EPSG:25832,335864,5689803,NaN,25,Weiterbildungskolleg,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5643,600962,0A,Schulamt,für den Märkischen Kreis,NaN,"Lüdenscheid, Schulamt Märkischer Kreis",9,58509,Lüdenscheid,Heedfelder Straße 45,...,5962032,1,01.08.1973,EPSG:25832,403286,5675825,NaN,0A,Schulaufsicht,NaN
5644,600966,0A,Schulamt,für den Kreis Olpe,NaN,"Olpe, Schulamt Kreis Olpe",9,57462,Olpe,Westfälische Straße 75,...,5966024,1,01.08.1973,EPSG:25832,419429,5654161,NaN,0A,Schulaufsicht,NaN
5645,600970,0A,Schulamt,für den Kreis Siegen-Wittgenstein,NaN,"Siegen,Schulamt Krs. Siegen-Wittgenstein",9,57072,Siegen,Koblenzer Straße 73,...,5970040,1,01.08.1973,EPSG:25832,430691,5635917,NaN,0A,Schulaufsicht,NaN
5646,600974,0A,Schulamt,für den Kreis Soest,NaN,"Soest, Schulamt Kreis Soest",9,59494,Soest,Hoher Weg 1-3,...,5974040,1,01.08.1973,EPSG:25832,438623,5713907,NaN,0A,Schulaufsicht,NaN
5647,600978,0A,Schulamt,für den Kreis Unna,NaN,"Unna, Schulamt Kreis Unna",9,59425,Unna,Parkstr. 40b,...,5978036,1,01.08.1973,EPSG:25832,409229,5711194,NaN,0A,Schulaufsicht,NaN

In [24]:
merged.groupby("Schulform_y").head()

,Schulnummer,Schulform_x,Schulbezeichnung_1,Schulbezeichnung_2,Schulbezeichnung_3,Kurzbezeichnung,Bezirksregierung,PLZ,Ort,Strasse,...,Gemeindeschluessel,Schulbetriebsschluessel,Schulbetriebsdatum,EPSG,UTMRechtswert,UTMHochwert,Unnamed: 24,Schluessel,Schulform_y,Unnamed: 2
0,100000,25,Studienkolleg des Ökumenischen,Studienwerks e.V. für ausländische,Studierende,"Bochum, WBK KOL Studienkolleg",9,44799,Bochum,Girondelle 80,...,5911000,6,01.01.1974,EPSG:25832,378180,5701853,NaN,25,Weiterbildungskolleg,NaN
1,100058,25,Weiterbildungskolleg Münster,Abendrealschule und Abendgymnasium,NaN,"Münster, WBK RS, Gym Uppenkampstiege",5,48147,Münster,Uppenkampstiege 21,...,5515000,1,01.08.2018,EPSG:25832,405673,5759287,NaN,25,Weiterbildungskolleg,NaN
2,163820,25,Weiterbildungskolleg der Stadt Duisburg,Abendrealschule und Abendgymnasium,NaN,"Duisburg, WBK RS, Gym Carstanjenstraße",1,47057,Duisburg,Carstanjenstr. 10,...,5112000,1,01.08.1973,EPSG:25832,346164,5700149,NaN,25,Weiterbildungskolleg,NaN
3,163831,25,Weiterbildungskolleg der Stadt Essen,-Abendrealschule Eiberg-,NaN,"Essen, WBK RS Eiberg",1,45279,Essen,Sachsenring 301,...,5113000,1,01.08.1973,EPSG:25832,368557,5700486,NaN,25,Weiterbildungskolleg,NaN
4,163843,25,Weiterbildungskolleg der Stadt Krefeld,- Abendrealschule -,NaN,"Krefeld, WBK RS Danziger Platz",1,47809,Krefeld,Danziger Platz 1,...,5114000,1,01.08.1973,EPSG:25832,335864,5689803,NaN,25,Weiterbildungskolleg,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5589,600000,0A,Ministerium,für Schule und Bildung,des Landes Nordrhein-Westfalen,"Düsseldorf, MSB",1,40221,Düsseldorf,Völklinger Str. 49,...,5111000,1,01.08.1973,EPSG:25832,343261,5675464,NaN,0A,Schulaufsicht,NaN
5590,600100,0A,Bezirksregierung Düsseldorf,- Schulabteilung -,NaN,"Düsseldorf, Bezirksregierung",1,40474,Düsseldorf,Am Bonneshof 35,...,5111000,1,01.08.1973,EPSG:25832,344267,5680475,NaN,0A,Schulaufsicht,NaN
5591,600111,0A,Schulamt,für die Stadt Düsseldorf,NaN,"Düsseldorf, Schulamt",1,40225,Düsseldorf,Merowingerplatz 1,...,5111000,1,01.08.1973,EPSG:25832,344710,5674184,NaN,0A,Schulaufsicht,NaN
5592,600112,0A,Schulamt,für die Stadt Duisburg,NaN,"Duisburg, Schulamt",1,47119,Duisburg,Ruhrorter Str. 187,...,5112000,1,01.08.1973,EPSG:25832,342904,5702354,NaN,0A,Schulaufsicht,NaN
5593,600113,0A,Schulamt,für die Stadt Essen,NaN,"Essen, Schulamt",1,45127,Essen,Hollestr. 3,...,5113000,1,01.08.1973,EPSG:25832,362194,5702044,NaN,0A,Schulaufsicht,NaN

In [36]:

filtered = merged[~merged.Schulform_y.str.contains('Seminar')]
filtered = filtered[~filtered.Schulform_y.str.contains('Grundschule')]
filtered = filtered[~filtered.Schulform_y.str.contains("Volks")]
filtered = filtered[~filtered.Schulform_y.str.contains("Schulversuch")]
filtered = filtered[~filtered.Schulform_y.str.contains("Lernort")]
filtered = filtered[~filtered.Schulform_y.str.contains("ZfsL")]
filtered = filtered[~filtered.Schulform_y.str.contains("Schulaufsicht")]

filtered.groupby('Schulform_y').count()

,Schulnummer,Schulform_x,Schulbezeichnung_1,Schulbezeichnung_2,Schulbezeichnung_3,Kurzbezeichnung,Bezirksregierung,PLZ,Ort,Strasse,...,Traegernummer,Gemeindeschluessel,Schulbetriebsschluessel,Schulbetriebsdatum,EPSG,UTMRechtswert,UTMHochwert,Unnamed: 24,Schluessel,Unnamed: 2
Schulform_y,,,,,,,,,,,,,,,,,,,,,
Berufskolleg,364,364,364,358,297,364,364,364,364,364,...,364,364,364,364,362,364,364,0,364,0
Freie Waldorfförderschule,13,13,13,13,12,13,13,13,13,13,...,13,13,13,13,13,13,13,0,13,0
Förderschule,448,448,448,446,434,448,448,448,448,448,...,448,448,448,448,442,448,448,0,448,0
Förderschule im Bereich der Realschule,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,0
Förderschule im Bereich des Berufskollegs,19,19,19,19,17,19,19,19,19,19,...,19,19,19,19,18,19,19,0,19,0
Förderschule im Bereich des Gymnasiums,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,0
Gesamtschule,375,375,375,346,202,375,375,375,375,375,...,375,375,375,375,358,375,375,0,375,0
Gymnasium,628,628,628,460,198,628,628,628,628,628,...,628,628,628,628,623,628,628,0,628,0
Hauptschule,164,164,164,131,53,164,164,164,164,164,...,164,164,164,164,164,164,164,0,164,0
Hiberniaschule,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,0,1,0
Klinikschule,38,38,38,37,18,38,38,38,38,38,...,38,38,38,38,37,38,38,0,38,0
Realschule,374,374,374,319,141,374,374,374,374,374,...,374,374,374,374,373,374,374,0,374,0
Sekundarschule,115,115,115,110,54,115,115,115,115,115,...,115,115,115,115,113,115,115,0,115,0
Waldorfschule,43,43,43,40,33,43,43,43,43,43,...,43,43,43,43,43,43,43,0,43,0
Weiterbildungskolleg,44,44,44,44,31,44,44,44,44,44,...,44,44,44,44,44,44,44,0,44,0

In [38]:
secondary_schools_nrw = gpd.GeoDataFrame(data=filtered, geometry=gpd.points_from_xy(filtered.UTMRechtswert, filtered.UTMHochwert), crs='EPSG:25832')
secondary_schools_nrw.head()

,Schulnummer,Schulform_x,Schulbezeichnung_1,Schulbezeichnung_2,Schulbezeichnung_3,Kurzbezeichnung,Bezirksregierung,PLZ,Ort,Strasse,...,Schulbetriebsschluessel,Schulbetriebsdatum,EPSG,UTMRechtswert,UTMHochwert,Unnamed: 24,Schluessel,Schulform_y,Unnamed: 2,geometry
0,100000,25,Studienkolleg des Ökumenischen,Studienwerks e.V. für ausländische,Studierende,"Bochum, WBK KOL Studienkolleg",9,44799,Bochum,Girondelle 80,...,6,01.01.1974,EPSG:25832,378180,5701853,NaN,25,Weiterbildungskolleg,NaN,POINT (378180.000 5701853.000)
1,100058,25,Weiterbildungskolleg Münster,Abendrealschule und Abendgymnasium,NaN,"Münster, WBK RS, Gym Uppenkampstiege",5,48147,Münster,Uppenkampstiege 21,...,1,01.08.2018,EPSG:25832,405673,5759287,NaN,25,Weiterbildungskolleg,NaN,POINT (405673.000 5759287.000)
2,163820,25,Weiterbildungskolleg der Stadt Duisburg,Abendrealschule und Abendgymnasium,NaN,"Duisburg, WBK RS, Gym Carstanjenstraße",1,47057,Duisburg,Carstanjenstr. 10,...,1,01.08.1973,EPSG:25832,346164,5700149,NaN,25,Weiterbildungskolleg,NaN,POINT (346164.000 5700149.000)
3,163831,25,Weiterbildungskolleg der Stadt Essen,-Abendrealschule Eiberg-,NaN,"Essen, WBK RS Eiberg",1,45279,Essen,Sachsenring 301,...,1,01.08.1973,EPSG:25832,368557,5700486,NaN,25,Weiterbildungskolleg,NaN,POINT (368557.000 5700486.000)
4,163843,25,Weiterbildungskolleg der Stadt Krefeld,- Abendrealschule -,NaN,"Krefeld, WBK RS Danziger Platz",1,47809,Krefeld,Danziger Platz 1,...,1,01.08.1973,EPSG:25832,335864,5689803,NaN,25,Weiterbildungskolleg,NaN,POINT (335864.000 5689803.000)

In [55]:
secondary_schools_nrw.to_crs("EPSG:4326", inplace=True)

secondary_schools_nrw.to_file('/home/emily/thesis_BA/data/destinations/SECONDARY_NRW.json')

In [70]:
test = [2]
testb = [0, 3]
test.extend(testb)
test

[2, 0, 3]